.text-center-select{
    background-color: #0090E7;
    color:white;
    padding: 6px 12px;
    width: 80px;
    border: none;
    border-radius: 5px;
    /* font-size: 20px; */
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    vertical-align: center;
    justify-content: center;
    text-align: center;    
    white-space: nowrap;
    line-height: 1;
    font-size: 0.9375rem;
}
  /* .text-center-select .select-option{
    padding: 30px; 
    color: whitesmoke;
    width: 50%;
  } */

.text-center-select:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}
/* select {
  width: 60px;
  line-height: 1;
  /* font-size: 0.9375rem; */
  /* text-align: center;     */

/* }  */
.tech{
    /* align-content: flex-start; */
    text-align: right;
    font-size: 0.9em ;
    width: 105px;
}
.grid-margin{
  width: 100%;
}
.grid-table {
  width: 100%; 
}

@media screen and (max-width:768px) {
  /* .grid-margin{
    width:100%;
    display:grid;
    grid-template-columns: 100%;
    padding:0;
    grid-auto-flow: row;
    width: 106%;
  } */
  .tab-2 .ml-5{
    /* margin-left:0; */
    /* justify-content: center; */
    /* text-align: center; */
    margin-right: 1.3rem;
    /* margin-top:5px; */
    padding:0;
  }
  .tab-2 .ml-4{
    /* margin-right:25px;
    margin-left:25px; */
    /* margin-top:5px; */
    /* margin-right: 1px; */
    padding:0;
  }
  
  .content-wrapper{
    padding:0;
  }
  .stretch-card{
    padding:0;
    margin:0;
    display:grid;
    grid-template-columns: 100%;
  }
  .card .card-body{
    padding:1.75rem 0.9rem;
    margin:0;
  }
  .table td{
    padding-left: 0.5rem;
    padding-right:0.5rem;
  }
  .grid-table, .gridtable thead, .gridtable tbody {
    display: block; 
    width: 100%; 
  }
  .grid-table tr {
    justify-content: space-between;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
  }
}